<!DOCTYPE>
<html lang="en">
<head>
    <title>ISRO</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel ="stylesheet" href= "{{ url_for('static', filename='styles/style.css') }}"> 
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Kanit:wght@800&family=Righteous&family=Roboto:wght@300&display=swap" rel="stylesheet">
  
</head>
<body>  
    <div class = "home">

        <img class = "home_img" src = "{{ url_for('static', filename='images/background_home.png') }}">
        <h1>
       IDENTIFICATION OF SOLAR BURSTS<br>IN X-RAY LIGHT CURVES
        </h1>
        <li>
        <div class ="desc">
            This program searches for solar flares in lightcurve data. The input is the lightcurve file in FITS, ASCII or XLS formats. The output is a visual representation of the identified solar flares along with some representative information for each. 
        </div>
        <br>
        <form action = "/documentation">
            <button type="submit" class="documentation">Click here to view the documentation</button>
        </form>
        <a href="#fileInput">
        <img class= "arr" src = "{{ url_for('static', filename='images/arrow_down.png') }}">
        </a>
    </div>
    <div class="fileInput" id ="fileInput">
        <div class = "intro">
        <div class ="heading2">Drag and Drop</div>
        <!-- <br> -->
        <form action ="/submit" method = "post" enctype="multipart/form-data" class ="form">
        <p class = "para">Files with format ascii,fits and xls are supported</p>
        </div>
        <div class = "drop-zone" id = "drop-zone">
            <span class ="defaultText">Drop a file here or click to upload</span>
            <div class="drop-zone__thumb"></div>
            <input type ="file" name = "file" class="drop-zone__input">
        </div>
        <button type="submit" class="submitButton">Submit</button>
        <div class = "drop-down">
            <div class = "selectedOp">Select File Format<img class= "arr2" src = "{{ url_for('static', filename='images/arrow_down.png') }}"></div>
            <div class = "Op1">FITS </div>
            <div class = "Op2">ASCII</div>
            <div class = "Op4">XLS</div>
        </div>
       <div class = "desc_format"></div>
        </form>
    </div> 
</body>
<script src="{{ url_for('static', filename='script/script.js') }}"></script>
</html>
